git+https://github.com/ytdl-org/youtube-dl.git@master#egg=youtube_dl
git+https://github.com/openai/whisper.git
deep-translator==1.11.4
tqdm=4.66.1
TTS==0.13.3
git+https://github.com/egorsmkv/ukrainian-accentor.git
ukrainian-word-stress==1.0.2
git+https://github.com/huggingface/transformers
transformers[sentencepiece]
sentencepiece==0.1.99
gradio==3.45.2